/* General */

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background-color: rgb(221, 232, 240);
}

body {
    width: 70%;
    margin: 0 auto;
}

/* typography */

* {
    font-family: 'Oxygen', sans-serif;
    color: #2a2a2a;
}

h1 {
    font-size: 2.6vw;
    padding-left: 40px;
}

h2 {
    font-size: 1.1vw;
    text-align: center;
    margin: 10px 0px 20px 0px;
}

h3 {
    font-size: 0.9vw;
    text-align: center;
}

#more{
    font-weight: 100;

}
p {
    font-size: 0.7vw;
    margin: 0;
}

li {
    font-size: 0.8vw;
}

/* header + nav */

#logo {
    height: 80px;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header > h1{
    margin: 20px 0px 20px 0px;
}

nav, aside, footer {
    background-color: white;
    padding: 1%;
}

#top_notice{
    /* border: 1px solid blue; */
    margin-bottom: 1.5%;
    padding: 0.5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#warning_msg{
    font-weight: bold;
    color: red;
    text-align: center;
    font-size: 0.9vw;
    margin-bottom: 1%;
}

#warning_msg2{
    font-weight: bold;
    color: red;
    text-align: center;
    font-size: 0.9vw;
    margin-top: 1%;
}

#feedback_msg, #guide_msg{
    text-align: center;
    font-size: 0.9vw;
}

#top_notice img{
    width: 2.6vw
}



#main_body {
    padding: 1.6%;
    background-color: white;
    border-radius: 0 0 0 8px;
}

nav {
    height: 50px;
    background-color: white;
    display: flex;
    margin-bottom: 10px;
    border-radius: 8px 8px 0 0;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
    font-size: 1.3vw;
    color: darkgray;
}

nav{
    text-decoration: none;
    font-weight: bold;
}

nav ul :not(:last-child) {
    border-right: 1px solid grey;
}

button {
    background: none;
    border: none;
    font-size: 1.3vw;
    color: black;
}

button:hover {
    color: rgb(115, 117, 141);
    cursor: pointer;
}

button:focus {
    outline: none;
}

.active_model {
    font-weight: bold;
}

/* main layout */

main {
    display: flex;
    margin-bottom: 30px;

}

#main_body {
    flex: 4;
    display: flex;
    flex-flow: column nowrap;
}

#model_parent{
    flex-grow: 1;
    display: flex;
}

iframe{
    flex-grow: 1;
    border: 0;
}

aside {
    flex: 1;
    margin-left: 10px;
    background-color: white;
    padding: 0;
    overflow: hidden;
    border-radius: 0 0 8px 0 !important;
}

aside li {
    padding-bottom: 10px;
}

#change_head {
    margin-top: 20px;
}

a{
    color: rgb(36, 36, 158);
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color:rgb(25, 25, 114);
}

#change_body {
    max-height: 650px;
    overflow-y: scroll;
    margin-left: 10px;
    padding-right: 13px;
}

hr {
    color: lightgrey;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(247, 247, 247);
}

::-webkit-scrollbar-thumb {
    background: rgb(194, 211, 223);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(194, 211, 223, 0.7);
}


